blockquote {
  font-style: italic
}

footer {
  background:     black;
  line-height:    1em ;
  text-align:     center;
  color:          white;
  margin-bottom: 35px;
  font-size: 0.85em;
  border-width: 0 1px;
  color: #999999;
  padding: 0px 5px;
}