blockquote {
  font-style: italic
}

footer {
  background:     #51247A;
  line-height:    1em ;
  text-align:     center;
  color:          white;
  margin-bottom:  35px;
  font-size:      0.85em;
  border-width:   0 1px;
  color:          white;
  padding:        0px 5px;
}
/* navbar */
.navbar-default {
    background-color: #51247A;
    border-color:     #5E5E5E;
    color:            white;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #5E5E5E;
}
