
/*
 Custom CSS to extend bootstrap
 LADAL

 Author: Stephen Kennedy-Clark
 Sept 2020
 
 using https://marketing-communication.uq.edu.au/uq-brand-assets 
 
 UQ purple Header colour #51247A;
 
 */



blockquote {
  font-style: italic
}


 body {
    background: #fff;
    color: #2b2b2b;
    cursor: auto;
    font-family: "Roboto","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-style: normal;
    line-height: 24px;
    border-radius: 6px
 }
 
 

h1{
  font-weight:400;
  color:#51247A;
}

 /* UQ purple Header colour */
.navbar {
    background-color: #51247A; 
    color: #ccc;
}


/* because the header is now thicker we need to move the content down the page */
/* changed from 10em to 5 because i caused a big gap before before the title */
#header{
  margin-top:+5em; 
}

/* TOC is the floating lefthand menu. */
/* move down the page to accomodate the thicker header */
#TOC {
  margin-top:+10em;  
}


/* trying to justify text in the dropdown menu */
.list-group-item{
  display: flex;
  
}

.header-section-number{
  padding-right: 8px;
  vertical-align: top;
}

.navbar-brand{ /* the text message */
  height:100px!important;
  font-weight: 400;
  font-size:1.8em;
  /*padding-top:0;*/
  padding:0;
  margin:0;
  color: #f5f5f5 ;
  background-color: #51247A; 
}

.navbar-top{ /* the fluid container that holds the top half of the navbar*/
  background-color: #51247A;
  padding:0;
  margin:0;
}

/* this is the LadaL image in the header */
.navbar-icon{
 padding-top: 20px;
 padding-left: 50px;
 height: 90px;
 display:block;
 float: left; 
 /*top: -10px!important;*/
}

.navbar-title-text{
   padding-top: +35px;
   top: +30px;

}


/* the box containing the "Language Technology and Data Analysis Laboratory" text */
.navbar-title-note {
  font-weight: 400;
  font-size:1.1em; /* Looks a little better @ 1.2em  but overlaps on itself at some page widths */
  top: 33px;
  position: relative;
  left:10px;
  line-height: 1;
  color: #f2f2f2;

}

.title {
  /* changed from 200 */
  top: 10px;
}

#navbar {
  top: -2px;
}

/* mouseover horozontal menu items*/
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #ffffff;
    background-color: #6f6f6f;
}

/* default colour for selected menu items*/
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #ffffff;
    background-color: #6f6f6f;
}

/* colour for selected menu items*/
.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:hover,
.navbar-default .navbar-nav>.open>a:focus {
    background-color: #6f6f6f;
    color: #ffffff;
}

/* colour for hovering over menu items*/
.list-group-item.active,
.list-group-item.active:hover,
.list-group-item.active:focus {
    background-color: #2780e3; /*#6f6f6f;*/
}

/* colour for hovering over menu items that are already active (selected) */
.dropdown-menu>.active>a,
.dropdown-menu>.active>a:hover,
.dropdown-menu>.active>a:focus {
    color: #ffffff;
    text-decoration: none;
    outline: 0;
    background-color: #6f6f6f; /* 2780e3 */
}


.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
    text-decoration: none;
    color: #ffffff;
    background-color: #6f6f6f;
}



.dropdown-header {
    color: #4f4f4f;
}

a:link {
  /* color: #51247a; changed it from #6f6f6f */
    color: #51247A;
}

a:visited {
    /* color: #51247a; */ /* not enough contrast to see at small sizes */
    color: #652d99; 
}

 a:hover {
    color: #656255;
}

/* vertical menu */
.list-group-item.active{
   background-color:#A5A5A5;
}


/********* Getting rid of any other blue ***********/
 .tocify .list-group-item.active:hover,
 .tocify .list-group-item.active:focus {
   background-color: #959595;
 }

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
    background-color: #A5A5A5;
}
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
    background-color: #A5A5A5;
}

.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
    background-color: #e6e6e6;
    border-color: #A5A5A5;
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
    color: #ffffff;
    background-color: #A5A5A5;
}


.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #6B30A1;
}


@media (hover: none) and (max-width: 767px) {
  /* nested submenus rely on hover events that don't exist on mobile, so we want to render the children
   all of the time */
  .dropdown-submenu > .dropdown-menu {
    display: block !important;
  }
  .dropdown-submenu > .dropdown-toggle:after {
    display: none;
  }
  .dropdown-submenu > .dropdown-toggle {
    font-size: 16px;
    point-events: none;
  }
}

/* changing the black highlight in thin pages 
this should go last as the linting fails for some browsers and we dont want the css to fail*/
@media (max-width: 767px) {
.navbar-default .navbar-nav .open .dropdown-menu>li>a:hover,
.navbar-default .navbar-nav .open .dropdown-menu>li>a:focus {
    color: #ffffff;
    background-color: #A5A5A5;
}

  /* -----------Question counter ---------*/

  body {
    counter-reset: li;
  }

  .question ol {
    /* Remove the default left padding */
    padding-left: 0;
  }

  .question ol>li {
    /* Create a positioning context */
    position: relative;
    /* Disable the normal item numbering */
    list-style: none;
    width: 90%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 0;
    padding-left: 120px;
  }

  .question ol>li:before,
  .question ol>p>li:before{
    /* Use the counter as content */
    content: "Question " counter(li) ": ";
    /* Increment the counter by 1 */
    counter-increment: li;
    position: absolute;
    color: #51247a;
    left: -0.5px;
    font-weight: bold;
  }

  .question ol ol {
    counter-reset: subitem;
  }
}
